<ion-content [fullscreen]="true">
  <div class="container">
    <form [formGroup]="formEmail" (ngSubmit)="sendEmail()" class="form">

      <ion-input type="email" label="Ingresar email" label-placement="floating" fill="outline"
        placeholder="example@mail.com" required formControlName="email"></ion-input>

      @if (isEmailInvalid) {
      <p>{{ errorMessage }}</p>
      }
      @if (successSendEmail) {
      <ion-label>Revisa el enlace de recuperación en tu email</ion-label>
      }

      <ion-button type="submit" color="secondary" type="submit" shape="round" expand="block">
        @if (spinner) {
        <ion-spinner></ion-spinner>
        }
        @if (!spinner) {
        <span>Recuperar</span>
        }
      </ion-button>
      <span>¿Recuperaste tu cuenta? <a routerLink="/">Iniciar sesión</a></span>
    </form>
  </div>
</ion-content>