<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="app-content ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <article id="power">
      <strong>Hola, {{ displayName }}</strong>
  </article>

  <article id="power">
    <ion-label>{{ textPower }}</ion-label>
    <ion-toggle slot="end" color="secondary" [value]="[0,1]" [checked]="powerValue === 1" (ionChange)="power($event)"></ion-toggle>
  </article>

  <article id="measurement">
    <strong>Humedad del Ambiente</strong>
    <p>{{ humidity }}</p>
  </article>

  <article id="measurement">
    <strong>Capacidad del Tanque</strong>
    <p>{{ tank }}</p>
  </article>

</ion-content>